<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FicheSAV.Properties.Settings.savConnectionString"
            connectionString="server=192.168.1.15;User Id=root;Persist Security Info=True;database=sav"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
